/* Footer */
.about-company{
    background-color: orange;
    color: #fff;
    min-height: 25vh
  }
  
.about-company-bg{
    background: url("../images/mosque1.jpg");
    opacity: .1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer{
    background-color: #111111;
    color: #ccc;
    min-height: calc(75vh - 80px);
}

.footer .single-btn{
    background-color: orange;
    color: white;
}