.sidebar-menu{

}

.sidebar-menu ul{
  margin: 20px 0 0 -35px;
  list-style: none;
}

.sidebar-menu li{
  border-bottom: 1.5px solid transparent;
  font-size: .95rem;
  padding-bottom: 4px;
  margin: 10px;
  margin-bottom: 20px;
}

.sidebar-menu a,
.sidebar-menu a:hover,
.sidebar-menu a:focus,
.sidebar-menu a:active{
  color: white;
  text-decoration:none !important;
}

.sidebar-menu li:hover{
  border-bottom: 1.5px solid white;
  transition: .4s all;
}