.user-header{
  background: url("../images/fundraising-image.jpg");
  height: 50vh !important;
  width: 100% !important;
}

.user-profile,
.user-profile-name,
.user-profile-photo{
  margin-bottom: -75px;
}

.about-company{
  margin-top: 100px;
}

.user-profile-photo{
  margin-left:40px;
  transform: translateY(-75px);
  width: 150px;
  height: 150px
}

.user-profile-photo img{
  border: 4px solid white;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.user-profile-name,
.user-profile-edit{
  transform: translateY(-50px);
}


@media (max-width: 768px) {
  .profile-nav{
    display: none;
  }

  .user-profile-photo{
    margin-left: calc(50% - 75px);
  }

  .user-profile-name{
    color: #343a40 !important;
  }

  .user-profile,
  .user-profile-photo{
    margin-bottom: 0px;
  }

}