.user-header{
  background: url("../images/fundraising-image.jpg");
  height: 50vh !important;
  width: 100% !important;
}

.about-company{
  margin-top: 100px;
}

.user-profile{
  position: relative;
  bottom: 75px;
}

.user-profile-photo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-profile-photo img{
  border: 4px solid white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.image-edit{
  position: relative;
  background-color: #000;
}

.image-edit img{
  width: 100%;
  opacity: .3;
  position: absolute;
  top: 0;
  right: 0;
}

.image-edit input{
  position: relative;
  z-index: 5;
}

@media (max-width: 768px) {
  .profile-nav{
    display: none;
  }

  .user-profile-name{
    color: #343a40 !important;
  }

  .user-profile,
  .user-profile-photo{
    margin-bottom: 0px;
  }

}